<h2 class="page-title">
  <b>{{ "BOARDS.TITLE" | translate }}:</b>
</h2>
<div class="middle-container boards">
  <mat-card
    class="boards__board"
    *ngFor="let board of boards"
    [routerLink]="['/main/boards', board.id]">
    <mat-card-actions class="board__actions">

      <mat-icon
        [routerLink]="['/main/board/edit-board', board.id]"
        color="primary" class="actions__btn create">edit
      </mat-icon>

      <mat-icon color="primary" class="actions__btn delete"
                (click)="deleteBoard()">delete
      </mat-icon>
    </mat-card-actions>
    <mat-card-title
      class="board__title">
      <b>{{ board.title | titlecase }}</b></mat-card-title>
    <mat-card-subtitle class="board__description">{{
      "board desc" | titlecase
      }}</mat-card-subtitle>
  </mat-card>
</div>
