<ng-container *ngIf="boards$ | async as boards">
  <h2 class="page-title">
    <b>{{ "BOARDS.TITLE" | translate }}:</b>
  </h2>

  <form class="example-form search">
    <mat-form-field class="example-full-width search__input" appearance="fill">
      <mat-label>{{ "WELCOME.SEARCH" | translate }}</mat-label>
      <input
        #myInput
        matInput
        [(ngModel)]="searchStr"
        name="search"
        (input)="search(myInput.value)"
        maxlength="256"
      />
      <mat-hint align="end">{{ myInput.value.length }} / 50</mat-hint>
    </mat-form-field>
  </form>
  <div class="example-form search">
    <mat-form-field class="example-full-width search__input" appearance="fill">
      <mat-label>Task search</mat-label>
      <input matInput [(ngModel)]="taskSearchInput" />
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      [disabled]="taskSearchInput.length < 2"
      (click)="searchTask(boards)"
    >
      Tasks search
    </button>
  </div>

  <div class="middle-container boards">
    <mat-card
      class="boards__board"
      *ngFor="let board of boards | filterByTitle: title"
      [routerLink]="['/main/boards', board.id]"
    >
      <mat-card-actions class="board__actions">
        <mat-icon
          [routerLink]="['/main/board/edit-board', board.id]"
          color="primary"
          class="actions__btn create"
          >edit
        </mat-icon>

        <mat-icon
          color="primary"
          class="actions__btn delete"
          (click)="openDialog(board.id, $event)"
          >delete
        </mat-icon>
      </mat-card-actions>
      <mat-card-title class="board__title">
        <b>{{ board.title | titlecase }}</b></mat-card-title
      >
      <mat-card-subtitle class="board__description">{{
        board.description | titlecase
      }}</mat-card-subtitle>
    </mat-card>
  </div>
</ng-container>
<div
  class="spinner-wrapper transparent-background"
  *ngIf="(isLoading | async) || isSeachingTasks"
>
  <mat-spinner></mat-spinner>
</div>
<div class="results-wrapper transparent-background" *ngIf="isResultsShown">
  <div class="results">
    <p>Search results for {{ taskSearchInput }}</p>
    <button mat-raised-button color="accent" (click)="closeResults()">
      Close results
    </button>
    <mat-card class="results__item" *ngFor="let task of tasks">
      <p>Task: {{ task.title }}</p>
      <p>Description: {{ task.description }}</p>
      <p>Assignee: {{ getAssigneeName(task.userId) }}</p>
      <p>Board: {{ getBoardName(task.id) }}</p>
      <button
        mat-raised-button
        color="accent"
        [routerLink]="['/main/boards', getBoardId(task.id)]"
      >
        Go to Board
      </button>
    </mat-card>
  </div>
</div>
