@import "../../../../assets/styles/constants";

.login {
  margin-top: 2vh;
  padding: $padding-default;
  width: $authcard-width;
  &__input {
    width: 100%;
    font-size: 12px;
    .suffix {
      cursor: pointer;
    }
  }
  &__btn {
    margin-left: 100%;
    transform: translateX(-100%);
    padding: 0 3vw;
  }
}
:host {
  position: relative;
}
.spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 100;
  align-items: center;
  display: flex;
  justify-content: center;
}
