<mat-card class="column" *ngIf="column">
  <div class="column__header">
    <mat-card-title
      *ngIf="!isTitleEditMode"
      (click)="switchTitleEdit()"
      class="header__title"
    >
      <b>{{ column.title }}</b>
    </mat-card-title>
    <mat-form-field
      *ngIf="isTitleEditMode"
      class="header__input">
      <mat-label>
        {{ "BOARD.EDIT_COLUMN_NAME" | translate }}
      </mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="title"
        value="{{ column.title }}"
      />
      <button matSuffix mat-icon-button>
        <mat-icon (click)="setColumnTitle(title!)">done</mat-icon>
      </button>
      <button matSuffix mat-icon-button>
        <mat-icon (click)="switchTitleEdit()">close</mat-icon>
      </button>
    </mat-form-field>
    <mat-card-actions class="header__actions">
      <mat-icon
        color="primary"
        class="actions__btn delete"
        (click)="openDialog($event)"
      >delete
      </mat-icon
      >
    </mat-card-actions>
  </div>
  <div
    class="column__tasks"
    cdkDropList
    [cdkDropListData]="column.tasks!"
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="drop($event)"
  >
    <app-task
      class="tasks__list"
      *ngFor="let task of column.tasks"
      [task]="task"
      [boardId]="boardId"
      [columnId]="column.id"
      (click)="setCurrentTask(task)"
      (click)="switchTaskDetailsModal()"
      (cdkDragStarted)="setCurrentTask(task)"
      (cdkDragStarted)="setPrevColumn(column)"
      cdkDrag
    >
      <div class="tasks-custom-placeholder" *cdkDragPlaceholder></div>
    </app-task>
  </div>
  <div class="column__footer"
       (click)="openAddTaskModal($event, boardId, column.id)"
  >
    <mat-icon
      color="primary"
      class="footer__icon">
      add
    </mat-icon>
    <p class="footer__text">
      {{ "BOARD.ADD_TASK" | translate }}
    </p>
  </div>
</mat-card>


<app-modal [title]="modalTitle">
  <form [formGroup]="addTaskForm">
    <mat-form-field>
      <mat-label>
        {{ "BOARD.ADD_TASK_MODAL_TITLE" | translate }}
      </mat-label>
      <input
        matInput
        type="text"
        formControlName="title"
      />
      <mat-error
        *ngIf="titleTask?.invalid && titleTask?.touched">
          <span
            *ngIf="titleTask?.errors?.['required']">
            {{"BOARD.ERROR_TITLE" | translate}}
          </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{"BOARD.ADD_TASK_MODAL_DESCRIPTION" | translate}}
      </mat-label>
      <input
        matInput
        type="text"
        formControlName="description"
      />
      <mat-error
        *ngIf="descriptionTask?.invalid && descriptionTask?.touched">
          <span
            *ngIf="descriptionTask?.errors?.['required']">
            {{"BOARD.ERROR_DESCRIPTION" | translate}}
          </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ "BOARD.USERS" | translate }}
      </mat-label>
      <mat-select
        formControlName="user"
      >
        <mat-option
          *ngFor="let user of users$ | async" [value]="user">
          {{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      class="sign-up__btn"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="addTaskForm.invalid"
      (click)="createTask()"
    >
      {{ "BOARDS.CREATE" | translate }}
    </button>
  </form>
</app-modal>

<app-modal [title]="modalTitle">
  <form [formGroup]="editTaskForm">
    <mat-form-field>
      <mat-label>
        {{ "BOARD.ADD_TASK_MODAL_TITLE" | translate }}
      </mat-label>
      <input
        matInput
        type="text"
        formControlName="title"
      />
      <mat-error
        *ngIf="titleTask?.invalid && titleTask?.touched">
          <span
            *ngIf="titleTask?.errors?.['required']">
            {{"BOARD.ERROR_TITLE" | translate}}
          </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{"BOARD.ADD_TASK_MODAL_DESCRIPTION" | translate}}
      </mat-label>
      <input
        matInput
        type="text"
        formControlName="description"
      />
      <mat-error
        *ngIf="descriptionTask?.invalid && descriptionTask?.touched">
          <span
            *ngIf="descriptionTask?.errors?.['required']">
            {{"BOARD.ERROR_DESCRIPTION" | translate}}
          </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        {{ "BOARD.USERS" | translate }}
      </mat-label>
      <mat-select
        formControlName="user"
      >
        <mat-option
          *ngFor="let user of users$ | async" [value]="user">
          {{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      class="sign-up__btn"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="addTaskForm.invalid"
      (click)="editTask()"
    >
      {{ "BOARDS.CREATE" | translate }}
    </button>
  </form>
</app-modal>


<div class="popup" *ngIf="isTaskDetailsModalOn">
  <div class="popup__overlay" (click)="switchTaskDetailsModal()"></div>
  <mat-card class="popup__modal taskDetails">
    <h2 class="taskDetails__title">{{ currentTask?.title }}</h2>
    <h4 class="taskDetails__description" title="{{ currentTask?.description }}">
      {{ currentTask?.description }}
    </h4>
    <h3 class="taskDetails__done">
      {{ "BOARD.DONE" | translate }}:
      <span style="color: red; font-weight: bold">
        {{currentTask?.done ? ("BOARD.YES" | translate) : ("BOARD.NO" | translate)}}
      </span>
    </h3>
    <h2 class="taskDetails__executor">
      {{ "BOARD.EXECUTOR" | translate }}:
      <span style="color: red">
        {{ userExecutor?.name }}
      </span>
    </h2>
    <button
      mat-raised-button
      color="primary"
      (click)="openEditTaskModal($event, boardId, column.id)"
    >
      {{ "BOARD.EDIT_TASK_MODAL_BUTTON" | translate }}
    </button>
    <button
      mat-icon-button
      class="modal__close"
      (click)="switchTaskDetailsModal()"
    >
      <mat-icon color="primary">close</mat-icon>
    </button>
  </mat-card>
</div>
