<div class="welcome-wrapper">
  <img class="fav-icon" src="assets/images/tmine/TMINE_free-file.png">

  <div class="sun">
    <img class="dev dev-first" src="assets/images/dev1.png">
    <img class="icon icon1" src="assets/images/png/team-leader.png">
    <img class="icon icon2" src="assets/images/png/fork.png">
    <img class="dev dev-second" src="assets/images/dev2.png">
    <img class="icon icon3" src="assets/images/png/angularjs.png">
    <img class="icon icon4" src="assets/images/png/merge.png">
    <img class="icon icon5" src="assets/images/png/board.png">
    <img class="icon icon6" src="assets/images/png/task-first.png">
    <img class="icon icon7" src="assets/images/png/ok.png">
    <img class="icon icon8" src="assets/images/png/like-first.png">
    <img class="icon icon9" src="assets/images/png/like-second.png">
    <img class="icon icon10" src="assets/images/png/task-second.png">
    <img class="icon icon11" src="assets/images/png/message.png">
    <img class="icon icon12" src="assets/images/png/github.png">
    <img class="icon icon13" src="assets/images/png/gitlab.png">
    <img class="dev dev-third" src="assets/images/dev3.png">
  </div>
</div>
