<mat-card class="login">
  <form [formGroup]="loginForm">
    <mat-card-title>{{ "AUTH.LOGIN.TITLE" | translate | titlecase }}</mat-card-title>
    <mat-form-field class="login__input" appearance="fill">
      <mat-label>{{ "AUTH.LOGIN.EMAIL" | translate }}</mat-label>
      <input matInput type="text" [(ngModel)]="name" formControlName="email">
      <mat-error *ngIf="email?.invalid && email?.touched">
        <span *ngIf="email?.errors?.['required']; else other">{{ "AUTH.LOGIN.EMAIL_REQUIRED" | translate }}</span>
        <ng-template #other>{{ "AUTH.LOGIN.EMAIL_INVALID" | translate }}</ng-template>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login__input" appearance="fill">
      <mat-label>{{ "AUTH.LOGIN.PASSWORD" | translate }}</mat-label>
      <input matInput 
             [type]="isPasswordHide ? 'password' : 'text'" 
             formControlName="password">
      <mat-error *ngIf="password?.invalid && password?.touched">
        <span *ngIf="password?.errors?.['required']; else other">{{ "AUTH.LOGIN.PASSWORD_REQUIRED" | translate }}</span>
        <ng-template #other>
          {{ loginForm.get('password')?.getError('invalidPassword') | translate }}
        </ng-template>
      </mat-error>
      <mat-icon matSuffix
                class="suffix" 
                (click)="isPasswordHide = !isPasswordHide">
                {{ isPasswordHide ? 'visibility_off' : 'visibility' }}
              </mat-icon>
    </mat-form-field>
    <button class="login__btn" mat-raised-button color="primary" type="submit" (click)="login(name, token)"
      [disabled]="loginForm.invalid">{{ "AUTH.LOGIN.TITLE" | translate }}</button>
  </form>
</mat-card>
