@import "../../../../constants.scss";

.footer {
  height: $header-footer-height;
  &-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-footer-height;
    .rsschool {
      width: 5vw;
      height: 100%;
      background: url(https://rs.school/images/rs_school_js.svg) center center no-repeat;
      background-size: contain;
      &:hover {
        opacity: 0.7;
      }
    }
    .developers {
      display: flex;
      align-items: center;
      &__title {
        margin: 0;
      }
      &__list {
        display: flex;
        align-items: center;
        margin-left: 1vw;
        .list__item {
          margin: 0 0.3vw;
          .item__link {
            color: $grey-light-color;
            filter: blur(0.1rem);
            &:hover {
              color: $white-color;
              filter: blur(0);
            }
          }
        }
      }
    }
  }
}
