@import "../../../../constants.scss";

:host {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .rsschool {
    display: inline-block;
    width: 5vw;
    height: 50%;
    background: url(https://rs.school/images/rs_school_js.svg) center center no-repeat;
    background-size: contain;
  }
  .developers {
    display: flex;
    align-items: center;
    &__list {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      margin-left: 1vw;
      .list__item {
        margin: 0 0.3vw;
        .item__link {
          color: $grey-light-color;
          filter: blur(0.1rem);
          &:hover {
            color: $white-color;
            filter: blur(0);
          }
        }
      }
    }
  }
}
