$cyan-default: 500;
$cyan-light: A200;
$cyan-dark: 700;

$pink-default: 700;
$pink-light: A200;
$pink-dark: 900;

$red-default: 900;
$red-light: 700;

$blue-gray-default: 600;
$blue-gray-light: 100;
$blue-gray-dark: 900;
