@use "@angular/material" as mat;
@import "~@angular/material/theming";
@import "./constants.scss";
@include mat.core();
$themes-primary: mat.define-palette(
  mat.$cyan-palette,
  $cyan-default,
  $cyan-light,
  $cyan-dark
);
$themes-accent: mat.define-palette(
  mat.$pink-palette,
  $pink-default,
  $pink-light,
  $pink-dark
);
$themes-warn: mat.define-palette(mat.$red-palette);
$themes-theme: mat.define-light-theme(
  (
    color: (
      primary: $themes-primary,
      accent: $themes-accent,
      warn: $themes-warn,
    ),
  )
);
@include angular-material-theme($themes-theme);
$themes-primary-dark: mat.define-palette(
  mat.$red-palette,
  $red-default,
  $red-light
);
$themes-accent-dark: mat.define-palette(
  mat.$blue-gray-palette,
  $blue-gray-default,
  $blue-gray-light,
  $blue-gray-dark
);

$themes-warn-dark: mat.define-palette(mat.$red-palette);
$themes-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $themes-primary-dark,
      accent: $themes-accent-dark,
      warn: $themes-warn-dark,
    ),
  )
);
.dark-theme-mode {
  @include angular-material-theme($themes-theme-dark);
}
html,
body {
  height: 100%;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.background-primary {
  background-color: mat-color($themes-primary);
}
.background-accent {
  background-color: mat-color($themes-accent);
}
.dark-theme-mode {
  .background-primary {
    background-color: mat-color($themes-primary-dark);
  }
  .background-accent {
    background-color: mat-color($themes-accent-dark);
  }
}
