<header class="header">
  <mat-toolbar class="header-container" color="primary">
    <div class="toggles">
      <mat-slide-toggle (change)="changeLanguage()">
        <mat-icon class="toggles__icon">language</mat-icon>
      </mat-slide-toggle>
      <mat-slide-toggle (change)="changeTheme()">
        <mat-icon class="toggles__icon">bedtime</mat-icon>
      </mat-slide-toggle>
    </div>
    <span class="header__title" [routerLink]="''">{{
      "MENU.TITLE" | translate
    }}</span>
    <div class="user-controls" *ngIf="!!(activeUser$ | async) === false">
      <button
        class="user-controls__btn"
        mat-raised-button
        color="accent"
        [routerLink]="'/auth/login'"
      >
        {{ "MENU.LINKS.LOGIN" | translate }}
      </button>
      <button
        class="user-controls__btn"
        mat-raised-button
        color="accent"
        [routerLink]="'/auth/sign-up'"
      >
        {{ "MENU.LINKS.REGISTER" | translate }}
      </button>
    </div>
    <div class="user-controls" *ngIf="activeUser$ | async">
      <span class="header__name">{{ (activeUser$ | async)!.name }}</span>
      <button
        class="user-controls__btn"
        mat-mini-fab
        color="accent"
        [routerLink]="'/main/board/new-board'"
      >
        <mat-icon>dashboard</mat-icon>
      </button>
      <button
        class="user-controls__btn"
        mat-mini-fab
        color="accent"
        [routerLink]="'/auth/edit'"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        class="user-controls__btn"
        mat-mini-fab
        color="accent"
        (click)="logout()"
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
