$cyan-default: 500;
$cyan-light: A200;
$cyan-dark: 700;

$pink-default: 700;
$pink-light: A200;
$pink-dark: 900;

$red-default: 900;
$red-light: 700;

$blue-gray-default: 600;
$blue-gray-light: 100;
$blue-gray-dark: 900;

$white-color: rgb(255, 255, 255);
$grey-light-color: rgb(230, 230, 235);

$padding-default: 4vh 1.5vw;

$header-footer-height: 8vh;
$main-height: 84vh;

$authcard-width: 30%;