<div class="middle-container">
  <mat-card class="sign-up">
    <form [formGroup]="newBoardForm">
      <mat-card-title
        >{{ "BOARD.CREATE_NEW_BOARD" | translate | titlecase }}
      </mat-card-title>

      <mat-form-field class="sign-up__input" appearance="fill">
        <mat-label>{{ "BOARD.TITLE" | translate }}</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="titleValue"
          formControlName="title"
        />
        <mat-error *ngIf="title?.invalid && title?.touched">
          <span *ngIf="title?.errors?.['required']">{{
            "BOARD.CREATE_NEW_BOARD" | translate
          }}</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="sign-up__input" appearance="fill">
        <mat-label>{{ "BOARD.DESCRIPTION" | translate }}</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="descriptionValue"
          formControlName="description"
        />
        <mat-error *ngIf="description?.invalid && description?.touched">
          <span *ngIf="description?.errors?.['required']">{{
            "BOARD.CREATE_NEW_BOARD" | translate
          }}</span>
        </mat-error>
      </mat-form-field>

      <div class="sign-up__btns">
        <button
          class="sign-up__btn"
          mat-raised-button
          color="primary"
          type="submit"
          (click)="createBoard()"
        >
          {{ "BOARDS.CREATE" | translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
