<h3 class="page-title"><b>{{ board?.title }}</b></h3>
<div *ngIf="isLoaderOn" class="loader">
  <mat-spinner class="loader__spinner"></mat-spinner>
</div>
<div class="middle-container board" 
     *ngIf="board"
     cdkDropList 
     cdkDropListOrientation="horizontal"
     (cdkDropListDropped)="drop($event)"
     cdkDropListGroup>
  <app-column class="board__column-list"
              *ngFor="let column of board.columns"
              [column]="column"
              [boardId]="board.id"
              (cdkDragStarted)="setCurrentColumn(column)"
              [(currentTask)]="currentTask"
              [(prevColumn)]="prevColumn"
              cdkDrag></app-column>

  <mat-card class="board__column add-column" (click)="switchAddColumnModal()">
    <mat-icon color="primary" class="add-column__icon">add</mat-icon>
    <p class="add-column__text">{{ "BOARD.ADD" | translate }}</p>
  </mat-card>
</div>

<div class="popup" *ngIf="isColumnModalOn">
  <div class="popup__overlay"
       (click)="switchAddColumnModal()"></div>
  <mat-card class="popup__modal">
    <mat-form-field>
      <mat-label>{{ "BOARD.ADD_COLUMN_MODAL_TITLE" | translate }}</mat-label>
      <input matInput type="text" [(ngModel)]="title">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!title!.trim()" (click)="createColumn(title!.trim())"
      (click)="switchAddColumnModal()">{{ "BOARD.ADD_COLUMN_MODAL_BUTTON" | translate }}</button>
    <button mat-icon-button class="modal__close" (click)="switchAddColumnModal()">
      <mat-icon color="primary">close</mat-icon>
    </button>
  </mat-card>
</div>

<div class="popup" *ngIf="isErrorModalOn">
  <div class="popup__overlay" (click)="switchErrorModal()"></div>
  <mat-card class="popup__modal">
    <img class="modal__img"
         src="https://i.ibb.co/Hh0TWGj/3099447-evil-monkey-no-see-icon.png" 
         alt="img: server wrong"
         draggable="false">
    <p>{{ "BOARD.ERROR" | translate }}</p>
    <button mat-icon-button class="modal__close" (click)="switchErrorModal()">
      <mat-icon color="primary">close</mat-icon>
    </button>
  </mat-card>
</div>