@import "../../../../assets/styles/constants.scss";
@import "../../../../assets/styles/keyframes.scss";

:where(.page-title, .page-description) {
  margin: 0 auto;
  max-width: 50%;
  max-height: $board-title-height;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-description {
  font-size: 1.2rem;
  overflow: hidden;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #000, #000, rgba(0, 0, 0, 0));
}

.board {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: calc($main-height - $board-title-height * 2);
  padding: $padding-default;
  overflow-x: auto;
  overflow-y: hidden;
  transition: none;
  position: relative;

  .add-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0.5vw;
    cursor: pointer;
    transition: 0.3s;
    height: calc($main-height - $board-title-height * 2 - 8vh);

    &:hover {
      transform: scale(0.95);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 3px -3px,
      rgba(0, 0, 0, 0.14) 0px 3px 3px 0px, rgba(0, 0, 0, 0.12) 0px 3px 9px 0px;
    }

    &__text {
      text-align: center;
    }
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  &__overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25vh;
    width: 25vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .modal {
      &__img {
        width: 25%;
      }

      &__close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;

        &:hover {
          -webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }
      }
    }
  }
}

.back-btn {
  position: absolute;
  top: $header-footer-height + 2vh;
  left: 2vw;
}

// https://material.angular.io/cdk/drag-drop/overview

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board__column-list:last-child {
  border: none;
}

.board.cdk-drop-list-dragging .board__column-list:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board__column-list {
  transition: none;
}

.spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 100;
  align-items: center;
  display: flex;
  justify-content: center;
}

app-modal {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .popup {
    &__modal {
      width: 40%;
    }
  }
}

@media (max-width: 800px) {
  .popup {
    &__modal {
      width: 50%;
    }
  }
}

@media (max-width: 500px) {
  .popup {
    &__modal {
      width: 70%;
    }
  }
}
