<!--<mat-form-field class="sign-up__input" appearance="fill">-->
<!--  <mat-label>{{ "BOARD.TITLE" | translate }}</mat-label>-->
<!--  <input-->
<!--    matInput-->
<!--    type="text"-->
<!--    [(ngModel)]="titleValue"-->
<!--    formControlName="title"-->
<!--  />-->
<!--  <mat-error *ngIf="title?.invalid && title?.touched">-->
<!--          <span *ngIf="title?.errors?.['required']">{{-->
<!--            "BOARD.TITLE" | translate-->
<!--            }}</span>-->
<!--  </mat-error>-->
<!--</mat-form-field>-->


<div>form</div>
