@use "@angular/material" as mat;
@import "~@angular/material/theming";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,700&display=swap');
@import "./assets/styles/constants.scss";
@include mat.core();
$themes-primary: mat.define-palette(
  mat.$cyan-palette,
  $cyan-default,
  $cyan-light,
  $cyan-dark
);
$themes-accent: mat.define-palette(
  mat.$pink-palette,
  $pink-default,
  $pink-light,
  $pink-dark
);
$themes-warn: mat.define-palette(mat.$red-palette);
$themes-theme: mat.define-light-theme(
  (
    color: (
      primary: $themes-primary,
      accent: $themes-accent,
      warn: $themes-warn,
    ),
  )
);
@include angular-material-theme($themes-theme);
$themes-primary-dark: mat.define-palette(
  mat.$red-palette,
  $red-default,
  $red-light
);
$themes-accent-dark: mat.define-palette(
  mat.$blue-gray-palette,
  $blue-gray-default,
  $blue-gray-light,
  $blue-gray-dark
);

$themes-warn-dark: mat.define-palette(mat.$red-palette);
$themes-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $themes-primary-dark,
      accent: $themes-accent-dark,
      warn: $themes-warn-dark,
    ),
  )
);
.dark-theme-mode {
  @include angular-material-theme($themes-theme-dark);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  transition: 0.3s;
  user-select: none;
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}
html,
body {
  height: 100%;
  overflow: hidden;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
img {
  -webkit-user-drag: none;
}
.background-primary {
  background-color: mat-color($themes-primary);
}
.background-accent {
  background-color: mat-color($themes-accent);
}
.transparent-background {
  background: #ffffffd0;
}
.dark-theme-mode {
  .background-primary {
    background-color: mat-color($themes-primary-dark);
  }
  .background-accent {
    background-color: mat-color($themes-accent-dark);
  }
  .transparent-background {
    background: #424242e3;
  }
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #d64925;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 3px 3px 10px #f31212;
}
